<h2>Posts List</h2>
<button class="btn" (click)="openform()">Add Post</button>
<br>
<div class="card" *ngIf="showform">
  <h3>Add new post</h3>
  <label>Title</label><br>
  <input type="text" placeholder="Enter title" [(ngModel)]="newpost.title" required>

  <label>Body</label>
  <input type="text" placeholder="Enter content" [(ngModel)]="newpost.body" required name="" id="">

  <button class="btn" (click)="submit()" >Submit</button>


</div>
<br>

<table border="1" cellpadding="5">
    <tr>
        <th> ID </th>
        <th>Title</th>
        <th> Body </th>
    </tr>
    <tr *ngFor="let p of posts">
        <td>{{p.id}}</td>
        <td>{{p.title}}</td>
        <td>{{p.body}}</td>
    </tr>
</table>

