.btn {
  background-color: blue;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.card {
  margin-top: 15px;
  padding: 15px;
  background: white;
  border-radius: 6px;
  border: 1px solid;
}

.card h3 {
  margin-bottom: 10px;
}

.card input,
.card textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.card textarea {
  height: 70px;
  resize: none;
}

.submit {
  width: 100px;
}
